@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  background-color: #1e3a8a;
  color: whitesmoke;
}
.coins-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}

.coin-container {
  display: flex;
  width: 800px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
}
.coin-container img {
  width: 70px;
  height: 70px;
}
.red {
  color: red;
}
.green {
  color: #84cc16;
}
.searchbox-container {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
input {
  font-size: 30px;
  border: none;
  border-bottom: 2px solid white;
  text-indent: 8px;
  padding: 5px;
  background-color: transparent;
  color: white;
}
input::placeholder {
  color: white;
}
input:focus {
  outline: none;
  border-bottom: 3px solid white;
}
